@model BookMan.MVC.Models.Book

@{
    ViewData["Title"] = Model.Name;
}

<h1>Details</h1>

<partial name="_Single" model="Model" />

<hr />

<div>
    <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Back to List</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-danger">Delete</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-warning">Edit</a>
    <a asp-action="Read" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-dark">Read</a>
</div>
